@font-face {
	font-family: 'MuseoSansCyrl-300';
	src: url('../assets/fonts/museosanscyrl-300.eot'); /* IE 9 Compatibility Mode */
	src: url('../assets/fonts/museosanscyrl-300.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../assets/fonts/museosanscyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/fonts/museosanscyrl-300.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../assets/fonts/museosanscyrl-300.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/fonts/museosanscyrl-300.svg#museosanscyrl-300') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'MuseoSansCyrl-700';
	src: url('../assets/fonts/museosanscyrl-700.eot'); /* IE 9 Compatibility Mode */
	src: url('../assets/fonts/museosanscyrl-700.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../assets/fonts/museosanscyrl-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/fonts/museosanscyrl-700.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../assets/fonts/museosanscyrl-700.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/fonts/museosanscyrl-700.svg#museosanscyrl-700') format('svg'); /* Chrome < 4, Legacy iOS */
}



@import 'variables';
@import 'mixins';
    // $dark: #333333;
    // $purple: #956D84;
    // $grey:#828282;
    // $white:#ffffff;

*,
*::before,
*::after{
	// flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
*:focus{
	outline: none !important;

}

p{
	text-decoration: none;
	margin: 0;}    
a{
	text-decoration: none;
	margin: 0;
	color: $dark;
	font-weight: 300;
	
}
ul,ol,li{
    list-style: none;
}
img{vertical-align: top;}

.dropdown{
	&-toggle{
	color: $purple;
	font-family: 'MuseoSansCyrl-700';
		&:hover {
			color: $purple;
		}
	}
	
	&-item{

	font-family: 'MuseoSansCyrl-300' ;

		&:active{
			background-color: $purple !important;
		}
		&:hover{
			font-family: 'MuseoSansCyrl-700';
			color: $white ;
			background-color: $purple !important;
		}
	}
}



// !styles reset 




body{
		background-color: $white;
		width: 100%;
		
	.header{
		&__link{
			color: $white;
			&:hover{
				color: $purple;
			}
		}

		
			
		width: 100%;
		height: 50px;
		font-family:'MuseoSansCyrl-300';
		color: $white;
		background-color: $dark;
		font-size: 16px;
		line-height: 18px;
		display: flex;
		gap: 27px;
		flex-direction: column;
		align-items: center;
		&__nav{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			// padding: 0 8%;
			width: 92.5%;
			height: 100%;
			select{
			background-color: $dark;
			color: $purple;
			text-align-last:center;
				:hover{
					background-color: $white;
				}
			}
			&__item{
				cursor: pointer;

				color: $white;
					&:hover{
						color: $purple !important;
					}
				display: flex;
    			gap: 11px;
    			// justify-content: center;
    			align-items: center;
    			flex-grow: 1;
				&--right{
				color: $white;

					flex-grow: 3;
    				justify-content: flex-end;
					font-size: 16px;
					font-weight: 700;
					line-height: 18px;
					
				}
			}
		}
		
	}

	.main{
		
		background-image: url(/src/img/main/flowers_left.svg), 
							url(/src/img/main/flowers_right.svg);
		background-repeat: repeat-y, repeat-y;
		background-position: left, right;
		background-size: 100px 60%;
		background-attachment: fixed, fixed;
		width: 100%;
		margin-top: 28px;
		display: flex;
    	flex-direction: column;
		justify-content: center;
    	align-items: center;
		&__header{
			// display: flex;
			display: grid;
			grid-template-columns: repeat(12, 100px);
			column-gap: 20px;
			grid-template-rows: auto;
			// padding: 0 8%;
			// width:80%;
			// justify-content: space-between;
			&__logo{
				grid-column: 1/3 ;
				&:hover{
					animation: effect linear 1s;
					-webkit-animation: effect linear 1s;
					@keyframes effect{
						0% {
                    		transform: scale(1, 1);
                		}
                		25% {
                		    transform: scale(1.3, 0.6);
                		}
					
                		50% {
                		    transform: scale(1.1, 0.9);
                		}
                		100% {
                		    transform: scale(1, 1);
                		}
					}
				}
			}
			&__info{
    			grid-column: 10/13;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
    			justify-self: flex-end;
				justify-content: space-between;

				&__contacts{
					display: flex;
					gap: 12px;
				}
				&__cart{
					display: flex;
					gap: 16px;
					flex-direction: row;
					align-content: center;
					justify-content: center;
					align-items: flex-end;
					color: $grey;
				}
			}	
			&__center{
				grid-column: 3/10;
				display: grid;
				column-gap: 20px;
				grid-template-columns: repeat(7, minmax(100px,110px));
				grid-template-rows: 1fr 1fr;
				&__search{
					position: relative;
					z-index: 10;
					top: -80px;
					left: 800px;
					width: 19px;
					height: 19px;
				}
				&__input{
					&--categories{
						grid-row: 1/2;
						grid-column: 1/3;
						border-bottom: 1px solid $purple;
					}
					&--goods{
						grid-row: 1/2;
						grid-column: 3/8;
						border-bottom: 1px solid $purple;
						
					}
				}


				&__categories{
					font-family: 'MuseoSansCyrl-700' !important;
					font-weight: 700 !important;
					font-size: 16px;
					line-height: 18px;
					grid-row: 2/3;
					grid-column: 1/8;
					width: 100%;
    				margin: 0;
    				display: flex;
    				justify-content: space-between;
    				align-items: flex-end;
    				// align-self: flex-end;
				&__btn{
					padding: 0;
					display: flex;
					gap: 10px;
					justify-content: left;
					align-items: baseline;
					border: none;
					font-weight: 700;
					color: $purple;
					background-color: white ;
					:hover{
						color: $purple !important;
						background-color: $white !important;
						border-color: $white !important;
						
					}
						
					}
					&__link{
						color: $dark; 
						font-weight: 700 ;
						&:hover{
							color: $purple !important;
						}
					}
				}
			}
		
		}

		&__hero{
			margin-top: 55px;
			&__top{
				font-family: 'MuseoSansCyrl-700' sans-serif;
				text-align: right;
				font-weight: 700;
				font-size: 36px;
				line-height: 50px;
				display: grid;
				gap: 20px;
				grid-template-columns: repeat(12, 100px);
				grid-template-rows: 321px 321px ;
				margin-bottom: 44px;
				&__item{
					user-select: none;
 					@include transition;
 					grid-column: span 3;
 					padding: 20px;
					&:hover{
					@include hoverAnimation;
					}
					&:not(:first-of-type){
						text-align: left;
					}
					&--big{
						grid-column: 1/7;
						grid-row: span 2;
						background:  url(/src/img/header/header__cards/card1__bg.png) 0 0/cover no-repeat;
						p{
						user-select: none;

						text-align-last: left;
						margin-left: 40%;
							span{
								opacity: .9;
								color: $white;
							}
						}
					}
					&--2{background: url(/src/img/header/header__cards/card2__bg.png) 0 0/cover no-repeat;}
					&--3{background: url(/src/img/header/header__cards/card3__bg.png) 0 0/cover no-repeat;}
					&--4{
						background: url(/src/img/header/header__cards/image_42.png) 0 0/cover;
						// z-index: 1;
						background-color:  $yellow;
					}
					&--5{
						background: url(/src/img/header/header__cards/card5__bg.png) 0 0/cover;
						&::after{
							position: relative;
							z-index: 10;
							bottom: 0;
							right: 0;
							width: fit-content;
							height: fit-content;
							background: url(/src/img/header/header__cards/image_43.png);
						}
					}

				}
				
			}
			&__bottom{
				display: grid;
				column-gap: 20px;
				grid-template-columns: repeat(12, 100px);
				grid-template-rows: 220px;
				margin-bottom: 20px;
				&__item{
					@include transition;
					&:hover{
					@include hoverAnimation;
					}
					cursor: pointer;
					padding: 20px;
					text-align: center;
					font-family: 'MuseoSansCyrl-300';
					font-style: normal;
					font-weight: 300;
					font-size: 24px;
					line-height: 35px;
					color: $dark;
					&--left{
						background: url(/src/img/header/header__cards/card__left.png);
						grid-column: 1/5;
						grid-column: 1/5;
    					display: flex;
    					align-items: flex-end;
    					justify-content: flex-start;
    					text-align: left;
						p{
						font-size: 14px;
						line-height: 18px;
						color: $grey;
						}
						&__text{
							width: 60%;
    						height: 75%;
    						gap: 20px;
    						display: flex;
    						flex-direction: column;
						}
					}
					&--center{
						background: url(/src/img/header/header__cards/card__center.png);
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
						gap: 20px;
						grid-column: 5/9;
						color: $white !important;
							&__text{
								display: flex;
								flex-direction: column;
								gap: 20px;
								p{
									font-size: 14px;
									line-height: 18px;
								}
							}
					}
					&--right{
						background: url(/src/img/header/header__cards/card__right.png);

						grid-column: 9/13;

						display: flex;
    					align-items: flex-end;
    					justify-content: flex-end;
    					text-align: right;
						p{
						font-size: 14px;
						line-height: 18px;
						color: $grey;
						}
						&__text{
							
							max-width: 60%;
    						gap: 20px;
    						display: flex;
    						flex-direction: column;
    						align-items: flex-end;
							
							h3{ 
								font-weight: 300;
								font-size: 24px;
								line-height: 35px;
								width: max-content;
							}
						}
					}
				}
			}
		}

	&__catalogue{

		h1{
			font-family: 'MuseoSansCyrl-700';
			font-style: normal;
			font-weight: 700;
			font-size: 48px;
			line-height: 38%;
				a{
			color: $black;
					&:hover{
					color:$black;
				}
			}
		}


		&__item{

			grid-column:span 3;
			background: $white;
			border: 1px solid $purple;
			box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
			padding-bottom: 22px;
			display: flex;
			flex-direction: column;
			align-items: center;
			&__top{
				display: flex;
				place-content: center;
				flex-grow: 1;
				height: 100%;
				width: 100%;
				background-color: $lightgrey;
			}
			&__bottom{
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				padding: 10px 2%;
				width: 100%;
				gap: 20px;
				justify-content: center;
				&__stars{
					display: flex;
    				justify-content: flex-start;
    				width: 100%;
				}
				&__text{

					width: 100%;
    				display: flex;
    				justify-content: space-between;
    				gap: 20px;
    				align-items: center;

					
					&--price{
						display: flex;
						flex-direction: column;
						font-weight: 700;
						font-size: 18px;
						line-height: 18px;
						color: $purple;
						:nth-child(1){
							font-weight: 300;
							text-decoration: line-through;
							color:$grey;
						}
					}
				}

				&__button{
					color: $white;
					font-weight: 700;
					font-size: 16px;
					line-height: 18px;
					position: relative;
					width: 70%;
					height: 60px;
					background-color: $purple;
					box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15);
					border-radius: 7px;
					@include transition;
					&:hover{
						@include hoverAnimation;
					}
					&::after{
   						content: '';
   				    	content: "";
    					z-index: 0;
    					width: fit-content;
    					height: fit-content;
    					position: absolute;
    					transform: translate(-50%,10%);
    					opacity: 0.2;
    					background: url(/src/img/header/header__cards/card__button__bg.svg) no-repeat;
					}
				}
				&__link{
					color: $grey;
					text-decoration: underline;
				}
			}
		}


		
		&__sale{
			height: fit-content;
			&--heading{
				text-align: center;
				margin: 100px 0 40px;
		}
			&__grid{
				@include gridLayout;
    			grid-template-rows:repeat(2, 570px) ;
				row-gap: 22px;
			}
		}
		&__seasons{
			&--heading{
				text-align: center;
				margin: 100px 0 40px;
		}
			&__grid{
				@include gridLayout;
    			grid-template-rows:repeat(2, 570px) ;
				row-gap: 22px;
			}
		}
		&__gift{
			&--heading{
				text-align: center;
				margin: 100px 0 40px;
			}
			&__grid{
				@include gridLayout;
    			grid-template-rows:repeat(2, 570px) ;
				row-gap: 22px;
			}
		}
	}

	}
	
	.footer{
		padding-top: 30px;
		margin-top: 40px;
		display: flex;
    	justify-content: center;
		width: 100%;
		background: $dark;
		color: $white;
		&__wrapper{
			width: 80%;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
		}
		&__top{
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			gap: 50px;
			&__logo{

			}
			&__info{
				&__links{
					display: flex;
					flex-direction: column;
					gap: 10px;
					flex-grow: 1;
					>a{
						font-weight: 300;
						font-size: 16px;
						line-height: 18px;
						color: $white;
						&:hover{
						color:$purple;
					}
					}
				}
				&__header{
					color: $white;
					font-weight: 700;
					font-size: 18px;
					line-height: 18px;
					flex-grow: 1;

				}
				display: flex;
				flex-direction: column;
				height: 100%;
			}
			&__support{
				&__links{
					display: flex;
					flex-direction: column;
					gap: 10px;
					flex-grow: 1;
					>a{
						font-weight: 300;
						font-size: 16px;
						line-height: 18px;
						color: $white;
						&:hover{
						color:$purple;
					}
					}
				}
				&__header{
					color: $white;
					font-weight: 700;
					font-size: 18px;
					line-height: 18px;
					flex-grow: 1;

				}
				display: flex;
				flex-direction: column;
				height: 100%;
			}
			&__profile{
				&__links{
					display: flex;
					flex-direction: column;
					gap: 10px;
					flex-grow: 1;
					>a{
						font-weight: 300;
						font-size: 16px;
						line-height: 18px;
						color: $white;
						&:hover{
						color:$purple;
					}
					}
				}
				&__header{
					color: $white;
					font-weight: 700;
					font-size: 18px;
					line-height: 18px;
					flex-grow: 1;

				}
				display: flex;
				flex-direction: column;
				height: 100%;
				}
				&__additional{
					&__links{
					display: flex;
					flex-direction: column;
					gap: 10px;
					flex-grow: 1;
					align-content:space-between ;
					>a{
						font-weight: 300;
						font-size: 16px;
						line-height: 18px;
						color: $white;
						&:hover{
						color:$purple;
					}
					}
					}
					&__header{
						color: $white;
						font-weight: 700;
						font-size: 18px;
						line-height: 18px;
						flex-grow: 1;
					}
					display: flex;
					flex-direction: column;
					height: 100%;
			}
		}
		&__line{
			border: 1px solid $purple;
		}

		&__bottom{
			font-family: 'MuseoSansCyrl-300';
			font-weight: 300;
			font-size: 16px;
			line-height: 18px;
			display: flex;
			justify-content: space-between;
			align-content: center;
			&__copyright{
				width: fit-content;
			}
			padding-bottom: 30px;
			&__payment{
				display: flex;
				align-content: center;
				gap: 20px;
			}
		}
	}

}

