@font-face {
	font-family: 'MuseoSansCyrl-300';
	src: url('../assets/fonts/museosanscyrl-300.eot'); /* IE 9 Compatibility Mode */
	src: url('../assets/fonts/museosanscyrl-300.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../assets/fonts/museosanscyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/fonts/museosanscyrl-300.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../assets/fonts/museosanscyrl-300.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/fonts/museosanscyrl-300.svg#museosanscyrl-300') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'MuseoSansCyrl-700';
	src: url('../assets/fonts/museosanscyrl-700.eot'); /* IE 9 Compatibility Mode */
	src: url('../assets/fonts/museosanscyrl-700.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../assets/fonts/museosanscyrl-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/fonts/museosanscyrl-700.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../assets/fonts/museosanscyrl-700.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/fonts/museosanscyrl-700.svg#museosanscyrl-700') format('svg'); /* Chrome < 4, Legacy iOS */
}


// @import 'variables';
    $dark: #333333;
    $purple: #956D84;
    $grey:#828282;
    $white:#ffffff;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;}
*:focus{
	outline: none !important;

}

p{
	text-decoration: none;
	margin: 0;}    
a{
	text-decoration: none;
	margin: 0;
	color: $dark;
	font-weight: 300;
	
}
ul,ol,li{
    list-style: none;
}
img{vertical-align: top;}

.dropdown{
	&-toggle{
	color: $purple;
	font-family: 'MuseoSansCyrl-700';
		&:hover {
			color: $purple;
		}
	}
	
	&-item{

	font-family: 'MuseoSansCyrl-300' ;

		&:active{
			background-color: $purple !important;
		}
		&:hover{
			font-family: 'MuseoSansCyrl-700';
			color: $white ;
			background-color: $purple !important;
		}
	}
}



// !styles reset 




body{
		background-color: $white;

	.header{
		&__link{
			color: $white;
			&:hover{
				color: $purple;
			}
		}

		
			
		width: 100%;
		height: 50px;
		font-family:'MuseoSansCyrl-300';
		color: $white;
		background-color: $dark;
		font-size: 16px;
		line-height: 18px;
		display: flex;
		gap: 27px;
		flex-direction: column;
		align-items: center;
		&__nav{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			// padding: 0 8%;
			width: 1420px;
			height: 100%;
			select{
			background-color: $dark;
			color: $purple;
			text-align-last:center;
				:hover{
					background-color: $white;
				}
			}
			&__item{
				cursor: pointer;
				color: $white;
					&:hover{
						color: $purple !important;
					}
				display: flex;
    			gap: 11px;
    			// justify-content: center;
    			align-items: center;
    			flex-grow: 1;
				&--right{
				color: $white;

					flex-grow: 3;
    				justify-content: flex-end;
					font-size: 16px;
					font-weight: 700;
					line-height: 18px;
					
				}
			}
		}
		
	}

	.main{
		width: 100%;
		margin-top: 28px;
		display: flex;
    	flex-direction: column;
		justify-content: center;
    	align-items: center;
		&__header{
			// display: flex;
			display: grid;
			grid-template-columns: repeat(12, 100px);
			column-gap: 20px;
			grid-template-rows: auto;
			// padding: 0 8%;
			// width:80%;
			// justify-content: space-between;
			&__logo{
				grid-column: 1/3 ;
			}
			&__info{
    			grid-column: 10/13;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
    			justify-self: flex-end;
				justify-content: space-between;

				&__contacts{
					display: flex;
					gap: 12px;
				}
				&__cart{
					display: flex;
					gap: 16px;
					flex-direction: row;
					align-content: center;
					justify-content: center;
					align-items: flex-end;
					color: $grey;
				}
			}	
			&__center{
				grid-column: 3/10;
				display: grid;
				column-gap: 20px;
				grid-template-columns: repeat(7, minmax(100px,110px));
				grid-template-rows: 1fr 1fr;
				&__input{
					&--categories{
						grid-row: 1/2;
						grid-column: 1/3;
						border-bottom: 1px solid $purple;
					}
					&--goods{
						grid-row: 1/2;
						grid-column: 3/8;
						border-bottom: 1px solid $purple;
						::after{
							position: relative;
							width: fit-content;
							content: url(../img/header/magnifier.svg);
							
						}
					}
				}


				&__categories{
					font-family: 'MuseoSansCyrl-700' !important;
					font-weight: 700 !important;
					font-size: 16px;
					line-height: 18px;
					grid-row: 2/3;
					grid-column: 1/8;
					width: 100%;
    				margin: 0;
    				display: flex;
    				justify-content: space-between;
    				align-items: flex-end;
    				// align-self: flex-end;
				&__btn{
					padding: 0;
					display: flex;
					gap: 10px;
					justify-content: left;
					align-items: baseline;
					border: none;
					font-weight: 700;
					color: $purple;
					background-color: white ;
					:hover{
						color: $purple !important;
						background-color: $white !important;
						border-color: $white !important;
						
					}
						
					}
					&--link{
						color: $dark; 
						font-weight: 700 ;
					}
				}
			}
		
		}

		&__hero{
			
			display: grid;
			grid-template-columns: repeat(12, 100px);
			grid-template-rows: 321px 321px 220px;
			gap: 30px;
			&__top{
				font-family: 'MuseoSansCyrl-700';
				font-weight: 700;
				font-size: 36px;
				line-height: 50px;
				&__item{
					padding: 20px;
					&--big{
						span{
							color: $white;
						}
					}
				}
			}
		}





	}
}

